@media (max-width: 992px) {
    nav {
        justify-content: space-between;
    }
    .menu {
        display: none;
    }
    .icons .menu__respon {
        display: block;
    }
    .work__col--img,
    .work__col--text {
        margin-right: 20px;
    }

    .silder-row {
        width: 714px;
    }
    .slider__item {
        text-align: center;
        flex-direction: column;
        height: 304px;
        width: 352px;
    }
    .slider__item--img {
        width: 96px;
        height: 96px;
        margin-top: 10px;
    }
    .slider__item--img img {
        border-radius: 50%;
    }

    .register__wrapper {
        display: block;
    }
    .register__content {
        text-align: center;
        /* width: 100%; */
        margin-bottom: 50px;
    }
    .register__card {
        width: 100%;
    }

    #questions .work__content {
        margin-top: 60px;
    }

    .question__item {
        margin-top: 30px;
        height: auto;
    }
    .footer__wrapper {
        display: block;
    }
    .footer__info {
        flex-basis: 100%;
    }
    .footer__col {
        justify-content: space-between;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    #usecookie {
        width: 90%;
    }
    .banner_wrapper {
        flex-direction: column;
    }
    .banner__img {
        margin-top: 30px;
        width: 100%;
        height: auto;
    }

    .work__form img {
        width: 100%;
        height: auto;
    }
    .work_wrapper .work__col {
        display: block;
    }
    .work__col--img, .work__col--text {
        margin-right: 0;
    }
    .work__col--img {
        width: 100%;
        height: 100%;
    }
    .work__col--text {
        margin-bottom: 30px;
    }

    .silder-row {
        width: 100%;
    }
    .slider__item {
        height: 280px;
        width: 100%;
    }

    .register__card {
        display: block;
    }
    .register__card--big {
        width: 100%;
    }
    .register__card--big.small {
        width: 100%;
        margin-left: 0;
        transform: scale(1);
        margin-top: 30px;
    }
    .question {
        display: block;
    }
    .footer__col {
        display: block;
    }
    .footer__links,
    .footer__letter,
    .footer__company {
        margin-top: 30px;
    }

    .copyright_wrapper {
        flex-direction: column;
    }
    .copyright_wrapper p {
        margin-bottom: 20px;
        text-align: center;
    }
}